<header class="shadow-lg border rounded-lg">
    <nav class="flex items-center justify-between px-4 py-2 ">
        <div class="flex items-center">
            <div class="w-6 h-6 border rounded-full"></div>
            <h5 class="text-sm uppercase font-semibold ml-3">
                {{ title }}
            </h5> 
        </div>
        <div class="flex items-center justify-between ml-5">
            <form>
                <input type="text" name="search" id="search" class="border py-1 px-2 text-sm rounded-lg focus:outline-none focus:ring-1">
            </form> 
            <div class="flex items-center justify-between">
                <div class="px-4 py-2">
                    Return & Orders
                </div>
                <div class="px-4 py-2">
                    Cart
                </div>
                <div class="px-4 py-2">
                    Login
                </div>
            </div>
        </div>
    </nav>
</header>