<div class="border rounded-lg shadow-lg">
    <div>
        <img class="rounded-lg" src="../../../assets/product.jpg" alt="product">
    </div>
    <div class="py-3 px-2">
        <h4 class="text-lg uppercase">
            Gift Cards
        </h4>
        <p class="mt-3 text-sm">
            This is the gift card that you would want.
        </p>
        <p class="mt-3 font-semibold w-full flex">
            <span> $50 </span>
            <span class="ml-3 line-through font-normal text-red-400">
                $60
            </span>
            <span class="text-sm font-normal ml-auto">
                10 on stock
            </span>
        </p>
    </div>
</div>
